# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tiago Machado\OneDrive - Universidade do Minho\Bioinformática\Biologia de Sistemas\Biologia-de-Sistema\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
